/*navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(178, 62, 101);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #43082a;
  }

  .header {
    background-color: rgba(252, 169, 189, 0.5); /* 50% opacity added*/ 
    padding: 20px;
    height: 300px; 
    border: 5px solid #fbafc0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start; /* changed from center to flex-start */
    align-items: center;
    color: #fff; /* text color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* add text shadow for better readability */
  }
  
  .header__title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 100px; /* add some margin to the left */
  }

      /*for the image*/
      .background-image-container {
        position: fixed; /* this will make the container fixed */
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100vh; 
        z-index: -1; /* this will make the container appear behind the other elements */
        overflow: hidden;
      }
      
      .background-image {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        object-position: center; 
      }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  .flex-item {
    padding: 20px;
    width: 100%;
    background-color: lightpink;
    border: 5px solid #fbafc0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* add spacing between header and intro container */
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-start; /* changed from center to flex-start */
    align-items: center;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: white;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .left-column {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    width: 95%; /* adjust the width to your liking */
    height: 100px;
    background-color: lightpink;
    margin: 10px;
    border: 5px solid #fbafc0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.4em;
    text-align: left;
  }
  
  .vertical {
    width: 30%; /* adjust the width to your liking */
    height: 220vh;
    background-image: url(nedladdning\ \(58\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 10px;
    border: 5px solid #fbafc0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .footer {
    background-color: rgba(252, 169, 189, 0.5);
    padding: 20px;
    height: 150px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fff; /* text color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* text shadow for better readability */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer__text {
    font-size: 1.2em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }